body {
  background: url("images/bg.png") no-repeat fixed;
  background-position: top center;;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-top: 50px;
  padding-bottom: 100px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

  .settings {
  	background-color: rgba(0, 0, 0, 0.75);
  	position: fixed;
  	top: 41px;
  	left: -200px;
  	width: 200px;
  	height: 120px;
  	color: #fff;
  	z-index: 1000;
  	transition: all .3s ease;
  }

  .settings:hover {
  	left: 0;
  }

  .settings img {
  	background-color: rgba(0, 0, 0, 0.75);
    width: 13px;
  	position: relative;
  	top: 0;
  	left: 100%;
  	padding: 12px;
  	border-radius: 0 3px 3px 0;
  }

  .settings a {
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
  	display: block;
  	border: 0;
  	margin: 0 20px;
    transition: all .3s ease;
  }

  .setting a:active {
    background-color: #0066ff;
  	color: #fff;
    transition: all .3s ease;
  }

  .settings a:hover {
  	background-color: #fff;
  	color: #000;
  }

@media only screen and (min-width: 992px) {

  .mini {
    display: none;
  }

  .top-icons {
  	position: fixed;
  	top: 41px;
  	left: 47px;
  }

  .menu, .download, .contact {
    position: fixed;
    top: 41px;
  	background-color: rgba(0, 0, 0, 0.25);
    width: 13px;
  	padding: 12px 10px;
  	border-radius: 3px;
  	border-bottom: 0;
  	cursor: pointer;
  	transition: all .3s ease;
  }

  .menu {
    left: 47px;
  }

  .menu:hover {
  	background-color: #00ce08;
  }

  .download {
    left: 83px;
  }

  .download:hover {
    background-color: #0093ff;
  }

  .contact {
    left: 119px;
  }

  .contact:hover {
    background-color: #ff003b;
  }

  #screenmenu:checked~nav {
    display: none;
  }

  nav {
  	position: fixed;
  	top: 33%;
  	left: 50px;
  	z-index: 999;
  }

  nav ul {
	padding: 10px 0 0 10px;
	margin: 0px;
	border-left: 4px solid rgba(0, 0, 0, 0.05);
  }

  nav li:first-child {
	margin-top: -25px;
  }

  nav li {
  	list-style-image: url('images/list-style-nav.png');
  	padding: 5px 15px;
  	font-size: 13px;
  	text-transform: uppercase;
  	cursor: pointer;
  	transition: all .3s ease;
    color: rgba(0, 0, 0, 0.5);
  }

  nav li:hover {
	list-style-image: url('images/list-style-nav-on.png');
	padding-left: 25px;
	color: #000;
  }

  nav li:active {
	list-style-image: url('images/list-style-nav-on.png');
	color: #000;
  font-weight: bold;
  }

}

@media only screen and (max-width: 992px) {
  .top-icons, nav {
    display: none;
  }

  .mini {
  display: block;
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-weight: bold;
  text-transform: uppercase;
  min-height: 16px;
  padding: 10px;
  z-index: 999;
  }

  .mini label {
	  color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
  }

  .mini label:hover {
	  margin: 10px 0;
	  color: #000;
    transition: all .3s ease;
  }

  .listmenu {
    display: none;
    transition: all .3s ease;
    padding: 0;
  }

  nav input {
    display: none;
  }

  nav input:checked~.listmenu {
    display: block;
    transition: all .3s ease;
    padding: 0;
  }

  .mini li {
    list-style-type: none;
  	padding: 4px 20px;
  	font-weight: normal;
  	color: #333;
    transition: all .3s ease;
    }

  .mini li:hover {
  	color: #262626;
  	background-color: #f5f5f5;
    transition: all .3s ease;
    }

  .mini li:active {
  	color: #FFF;
  	background-color: #000;
    font-weight: bold;
    transition: all .3s ease;
    }

}

body>div {
  width: 50%;
  margin: 0 auto;
}

#header img {
  border-radius: 50%;
  width: 200px;
}

#header {
  text-align: center;
}

hr {
  padding: 7px 0;
  border: 0;
}

#header .name {
	background-color: #000;
	padding: 5px 17px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	border-left: 3px solid #f00;
	border-right: 3px solid #0045ff;
}

#header p:last-child{
  padding-top: 25px;
  font-style: italic;
  margin-bottom: 100px;
}

.infos {
  margin-left: 40%;
}

.infos ul {
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0 0 13px;
  margin: 0;
}

.infos li:first-child {
  list-style-image: url('images/title.png');
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

.infos li:first-child:hover {
  list-style-image: url('images/title.png');
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px 27px;
}

.truc {
  border-radius: 50%;
}

.infos img {
  float: left;
  position: relative;
  left: -110px;
  top : 1em;
  height: 2.5em;
}

.infos li {
  list-style-image: url("images/list-style.png");
  padding: 10px 0 10px 27px;
  transition: all .3s ease;
}

.infos li:hover {
  list-style-image: url("images/list-style-on.png");
  padding-left: 40px;
  transition: all .3s ease;
}

.infos li p {
  font-size: 1.2em;
}

.infos li span {
  opacity: .75;
  text-transform: uppercase;
  font-size: 1em;
}

.skills {
  font-size: 13px;
  text-transform: capitalize;
}

.infos .progress, .infos .conquest {
	background-color: rgba(0, 0, 0, 0.05);
	height: 7px;
	border-radius: 3px;
  margin: 10px 0;
}

.infos .conquest {
  background-color: #ffa700;
}

.infos .adobe {
  width: 95%;
}

.infos .gimp {
  width: 80%;
}

.infos .os {
  width: 70%;
}

.infos input, .infos textarea {
    width: 100%;
  	height: 25px;
  	padding: 6px 15px;
  	font-size: 12px;
  	color: #000;
  	background-color: rgba(255, 255, 255, 0.75);
  	border: 0;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  	border-radius: 3px;
    margin-bottom: 15px;
}

.infos input:focus {
	background-color: #fff;
	color: #000;
  box-shadow: 0 0 8px rgba(102, 175, 233, .6);
}

.infos textarea {
  	height: 85px;
}

.infos textarea:focus {
	background-color: #fff;
	color: #000;
  box-shadow: 0 0 8px rgba(102, 175, 233, .6);
}

button {
	font-size: 12px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	transition: all .3s ease;
  float: right;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button:hover {
	color: #fff;
	background-color: #15b900;
	border-color: rgba(0, 0, 0, 0.1);
}

#contacts .infos button img {
  left: 0;
  top: 0.2em;
  margin-right: 7px;
  height: 1em;
}

.up {
  list-style-image: url('images/title.png');
  padding: 10px 0 10px 27px;
  transition: all .3s ease;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

.up:hover {
  list-style-image: url('images/title.png');
  padding-left: 40px;
  transition: all .3s ease;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px 27px;
}
